/* CSS Variables */
:root {
  --primary-color: #1c4f6c;
  --secondary-color: #62b6cb;
  --accent1-color: #5fa8d3;
  --accent2-color: #cae9ff;

  --heading-font: "Times New Romans", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;  
  background-color: var(--primary-color);
}
/* CSS Reset */
header img {
  width: 150px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

header nav a{
  text-decoration: none;
  color: var(--accent2-color);
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Page width */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Headings */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Basic spacing */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia {
    text-decoration: none;
}

/* Hero section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/* Hero heading overlay */
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: #fff;
  opacity: 0.7;
}

/* Hero article overlay */
.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

/* Article image */
.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
}

/* Footer social media */
.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 32px;
  margin-right: 8px;
}

.history h2 {
  text-align: center;
}
.history-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 16px;
  align-items: center;
}
.history-content img {
  width: 200px;
}
.adventures h2 {
  text-align: center;
}
.adventure-gallery {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.adventure-gallery figure {
  text-align: center;
}
.adventure-gallery img {
  width: 200px;
}
footer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--primary-color);
  padding: 16px;
  color: white;
}
.socialmedia {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
.socialmedia img {
  width: 32px;
}