.callout {
    max-width: 500px;
    margin: 20px;
    border: 2px, solid #000000;
    background-color: blue;
    color: white;

}

.callout img {
    float: right;
    margin: 10px;
    border: 2px solid #000000;
    padding-top: 5px;
    background-color: #ffffff;
    width: 120px;
    height: auto;
}

blockquote {
    margin: o;
}

cite {
    display: block;
    border-top: 1px solid #cccccc;
    padding-top: 8px;
    text-align: right;
    font-size: 14px;
}